{% extends 'users.html' %}

{% block title %} Mes echanges {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Mes echanges</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-12">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Target</th>
                    <th scope="col">Date</th>
                    <th scope="col">Action</th>
                </tr>
                </thead>
                <tbody>
                {% for trade in trades %}
                    <tr>
                        <th scope="row">{{ trade.id }}</th>
                        <td>{{ trade.user_target.username }}</td>
                        <td>{{ trade.created_at|date:"d/m/Y - H:i" }}</td>
                        <td>
                            <a href="" class="btn btn-primary">View</a>
                            <a href="" class="btn btn-warning">Edit</a>
                        </td>
                    </tr>
                {% endfor %}
                {% if trades|length <= 0 %}
                    <tr>
                        <td colspan="4" class="text-center">No data</td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
