{% extends 'base.html' %}

{% block title %} Register {% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-6 offset-sm-3 ">
        <div class="card text-center">
            <div class="card-body">
                <h1>Password Reset</h1>
                <form method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <div class="input-group mb-3">
                            <input type="text"
                                   name="{{ form.email.name }}"
                                   class="form-control {% if form.email.errors|length > 0 %}is-invalid{% endif %}"
                                   placeholder="Email"
                                   aria-label="email">
                            <div class="invalid-feedback">
                                {{ form.email.errors }}
                            </div>
                        </div>
                    </div>
                    <button type="submit">Reset password</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
