{% extends 'users.html' %}

{% block title %} Dashboard {% endblock %}

{% block content %}
    <div class="row">
        <div class="col-12">
            <h1>Dashboard</h1>
            <p>
                Hi {{ user.username }} !
            </p>


            <p>
                <a href="{% url "cards" %}">Voir mes cartes</a>
            </p>
            <p>
                <a href="{% url "decks" %}">Gerer mes decks</a>
            </p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12 text-right">
            <a href="{% url "logout" %}" class="btn btn-danger">Logout</a>
        </div>
    </div>
{% endblock %}